<p>
    <mat-toolbar>
        <span>
            <mat-icon>list</mat-icon>Cadastro de Usuários
        </span>
    </mat-toolbar>
</p>

<div id="row">
    <div id="col-md-12">
        <div class="alert alert-danger" role="alert" *ngFor="let erro of listaErros">
            {{ erro }}
        </div>
    </div>
</div>

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <mat-form-field class="full-width">
        <mat-icon matSuffix>face</mat-icon>
        <mat-label>Username:</mat-label>
        <input formControlName="username" matInput placeholder="Digite o Username:" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password:</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-icon matSuffix>account_box</mat-icon>
        <mat-label>nome:</mat-label>
        <input formControlName="nome" matInput placeholder="Digite o nome:" />
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-icon matSuffix>fingerprint</mat-icon>
        <mat-label>cpf:</mat-label>
        <input formControlName="cpf" matInput placeholder="Digite o cpf:" />
    </mat-form-field>

    <button type="submit" class="btn btn-success" [disabled]="!formulario.valid">
        <i class="fa fa-save"></i>
        <mat-icon>check_circle</mat-icon>Salvar
    </button>

    <button type="button" class="btn btn-danger ml-2" (click)="voltarPreferencias()">
        <i class="fa fa-solid fa-arrow-alt-circle-left"></i>
        <mat-icon>fast_rewind</mat-icon>Voltar
    </button>

</form>